.back-home {
    margin: 10px 8px;
}
.back-home .bi-arrow-bar-left{
    font-size: 1.2rem;
    
}
.cart-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 15px;
    
}
.text-cart {
    font-size: 2rem;
}
.btn-cart {
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 3px 10px;
    cursor: pointer;
    background-color: #454545;
    color: #fff;
}
.btn-cart:hover {
    border: #454545 solid 2px;
    background-color: #fff;
    color: #454545;
}
.cont-fin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.price {
    text-align: center;
}
.btn-fin {
    margin: 30px 20px;
    padding: 10px;
    width: 90vw;
    border: #58a0b4 solid 1px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 1.5rem;
    cursor: pointer;
}
@media (min-width: 1024px) {
    .back-home {
        margin-top: 20px;
    }
    .back-home .bi-arrow-bar-left{
        font-size: 1.5rem;
        padding: 10px;
        
    }
}