.detail__container {
    padding:  30px 50px;
    background-color: #454545;
}
.back-detail  {
  margin: 5px 0px 15px;
  align-self: self-start;
  color: #000;
}
.bi-arrow-bar-left {
  font-size: 1.5rem;
}
.detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d1d0d0;
    padding: 15px;
    width: 100%;
    height: 80%;
    border-radius: 20px;
}
.detail__img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.content-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.title-detail {
  text-align: center;
  font-size: 1.5rem;
  color: #000;
}
.desc-detail {
  font-size: 1rem;
  color: #454545;
  font-weight: 300;
  text-align: justify;
  font-style: italic;
}
.price-detail {
  font-size: 1.3rem;
  font-weight: 600;
  margin:10px;
}
.btn-detail {
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px 9px;
  width: 200px;
  font-size: 1.2rem;
  cursor: pointer;
}

@media (min-width: 768px) {
  .back-detail {
    align-self: center;
    margin: 0;
  }
  .bi-arrow-bar-left{
    font-size: 1.9rem;
  }
  .detail {
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 15px;
    margin: auto;
    padding: 25px;
  }
  .detail__img {
    width: 40%;
    object-fit: cover;
    border-radius: 20px;
  }
  .content {
    gap: 55px;
  }
  .title-detail {
    font-size: 1.8rem;
  }
  .desc-detail {
    font-size: 1.2rem;
    margin: 15px 10px;
  }
  .price-detail {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 8px;
  }
}
@media (min-width: 1024px) {
  .bi-arrow-bar-left{
    font-size: 2.1rem;
  }
  .detail {
    padding: 35px;
    width: 800px;
    height: 100%;
    gap: 50px;
  }
  .detail__img {
    width: 45%;
  }
  .title-detail {
    font-size: 2rem;
  }
}