.detail__container {
    padding:  30px 50px;
    background-color: #454545;
}

.detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d1d0d0;
    padding: 15px;
    width: 100%;
    height: 80%;
    border-radius: 20px;
}
.detail__img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.content-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.title-detail {
  text-align: center;
  font-size: 1.5rem;
  color: #000;
}
.text-detail {
  font-size: 1rem;
  font-weight: 400;
}
.btn-detail {
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px 9px;
  width: 200px;
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .detail {
    flex-direction: row;
    width: max-content;
    height: 100%;
    gap: 25px;
    margin: auto;
  }
  .detail__img {
    width: 50%;
    object-fit: cover;
    border-radius: 20px;
  }
  .content {
    gap: 55px;
  }
  .title-detail {
    font-size: 1.8rem;
  }
  .text-detail {
    font-size: 1.3rem;
  }
}
@media (min-width: 1024px) {
  .detail {
    padding: 35px;
    width: 800px;
    height: 100%;
    gap: 50px;
  }
  .detail__img {
    width: 45%;
  }
  .title-detail {
    font-size: 2rem;
  }
  .text-detail {
    font-size: 1.5rem;
  }
}